

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #6E00FF;
    background-color: #6E00FF;
    border-radius: 30px;
    width: 100px;
    height: 100dvh;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.activeButton{
    color: white;
}
